<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flight/style.css' %}">
    <title>New Customer</title>
    <style>
        input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
        }
    </style>
</head>
<body>
    {% include 'flight/navbar.html' %}
    <br>

    <h1>Add Customer</h1>
    <form method="post">
        {% csrf_token %}
  
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
  
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
  
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>
        <br>

        <label for="phone_number">Phone Number:</label>
        <input type="number" id="phone_number" name="phone_number" minlength="9" maxlength="9" required>
        <br>

        <label for="credit_card_number">Address:</label>
        <input type="number" id="credit_card_number" name="credit_card_number" minlength="16" maxlength="16" required>
        <br>

        <label for="user_id">User ID:</label>
        <select id="user_id" name="user_id" required>
          <option value="" disabled selected> Select User </option>
          {% for user in users %}
            <option value="{{ user.id }}"> {{ user.username }} </option>
          {% endfor %}
        </select>
        <br>
  
        <button type="submit">Add Customer</button>
    </form>
</body>
</html>