<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flight/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'flight/navbar.html' %}
    <br>

    <h1>Add Ticket</h1>
    <form method="POST">
      {% csrf_token %}
      <label for="flight_id">Flight ID:</label>
      <select id="flight_id" name="flight_id" required>
        <option value="" disabled selected> Select a Flight </option>
        {% for flight in flights %}
          <option value="{{ flight.id }}"> {{ flight.id }} </option>
        {% endfor %}
      </select>
      <br>
      <label for="customer_id">Customer ID:</label>
      <select id="customer_id" name="customer_id" required>
        <option value="" disabled selected>Select a Customer</option>
        {% for customer in customers %}
          <option value="{{ customer.id }}">{{ customer.first_name }}</option>
        {% endfor %}
      </select>
      <br>
      <button type="submit">Add Ticket</button>
    </form>
</body>
</html>