<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flight/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'flight/navbar.html' %}
    <br>

    <p>Airline Company ID: {{ airline.id }}</p>
    <p>Airline Company Name: {{ airline.name }}</p>
    <p>Airline Company Country ID: {{ airline.country_id }}</p>
    <p>Airline Company User ID: {{ airline.user_id }}</p>
</body>
</html>