<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flight/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'flight/navbar.html' %}
    <br>
    
    <form method="POST">
        <label for="country_id">Country ID:</label>
        <select id="country_id" name="country_id" required>
        <option value="" disabled selected> Select Country ID </option>
        {% for country in countries %}
            <option value="{{ country.id }}"> {{ country.id }} </option>
        {% endfor %}
        </select>
        <button type="submit">Get Country</button>
        <br>
    </form>
</body>
</html>