<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flight/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'flight/navbar.html' %}
    <br>

    <h1>Update Airline Company</h1>
    <form method="post">
        {% csrf_token %}
        <div>
        <label for="airline_company_id">Select a airline company:</label>
        <select id="airline_company_id" name="airline_company_id">
            {% for company in companies %}
            <option value="{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
        </select>
        </div>
        <div>
        <label for="parameter">Select a Parameter to update:</label>
        <select id="parameter" name="parameter">
            <option value="name">Name</option>
        </select>
        </div>
        <div>
        <label for="new_value">New Value:</label>
        <input id="new_value" name="new_value" type="text">
        </div>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>